<div class="div-main">
    <h1>ABOUT ME</h1>
    <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and
        technology.</p>
    <h4>1. GET TO KNOW ME!</h4>
    <p>I'm a <b>Backend Focused Web Developer</b> in building and managing of Websites and Web Applications. Check out
        some of my work in the <a routerLink="/projects">Projects</a> section.<br>I also like sharing content related to
        the stuff that I have learned over the years in <b>Web Development</b> so it can help other people of the Dev
        Community. Feel free to Connect or Follow me on my <a target="_blank"
            href="https://www.linkedin.com/in/brendomvictor/">Linkedin</a> and <a target="_blank"
            href="https://github.com/BrendomGoncalves">Github</a>.<br>I'm open to Job opportunities where I can
        contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't
        hesitate to <a routerLink="/contact">contact</a> me.</p>
    <button class="btn btn-primary button-contact" routerLink="/contact">CONTACT</button>
    <h4>2. MY SKILLS</h4>
    <div class="list-skills">
        <button class="btn-skills" disabled>C#</button>
        <button class="btn-skills" disabled>.NET</button>
        <button class="btn-skills" disabled>ASP.NET Core</button>
        <button class="btn-skills" disabled>Entity Framework</button>
        <button class="btn-skills" disabled>Angular</button>
        <button class="btn-skills" disabled>Typescript</button>
        <button class="btn-skills" disabled>HTML</button>
        <button class="btn-skills" disabled>CSS</button>
        <button class="btn-skills" disabled>MySQL</button>
        <button class="btn-skills" disabled>SQLite</button>
        <button class="btn-skills" disabled>Git</button>
        <button class="btn-skills" disabled>GitHub</button>
        <button class="btn-skills" disabled>Figma</button>
    </div>
</div>