<div class="div-main">
    <h1>ABOUT ME</h1>
    <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
    <h4 class="about-description">GET TO KNOW ME!</h4>
    <p style="text-align: justify;width: 500px;">I'm a <b>Backend Focused Web Developer</b> in building and managing of Websites and Web Applications. Check out some of my work in the <b>Projects</b> section.<br>I also like sharing content related to the stuff that I have learned over the years in <b>Web Development</b> so it can help other people of the Dev Community. Feel free to Connect or Follow me on my <a target="_blank" href="https://www.linkedin.com/in/brendomvictor/">Linkedin</a> and <a target="_blank" href="https://github.com/BrendomGoncalves">Github</a>.<br>I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to <b>contact</b> me.</p>
    <button class="btn btn-primary button-contact" routerLink="/contact">CONTACT</button>
    <h4 style="border-bottom: 2px solid #007bff60;">MY SKILLS</h4>
    <div style="display: flex;flex-wrap: wrap;gap: 15px;">
        <button class="btn btn-secondary disabled">HTML</button>
        <button class="btn btn-secondary disabled">CSS</button>
        <button class="btn btn-secondary disabled">Typescript</button>
        <button class="btn btn-secondary disabled">C#</button>
        <button class="btn btn-secondary disabled">AspNet Core</button>
        <button class="btn btn-secondary disabled">Angular</button>
        <button class="btn btn-secondary disabled">HTML</button>
        <button class="btn btn-secondary disabled">HTML</button>
        <button class="btn btn-secondary disabled">HTML</button>
        <button class="btn btn-secondary disabled">HTML</button>
    </div>
</div>
