<div class="home-titulo">
    <h1>HEY, I'M <b>BRENDOM GONÇALVES</b></h1>
    <p>Computer Technician and Full Stack Web Developer in C# with AspNet Core, creativity to solve problems and ease to work in a team.</p>
    <button class="btn btn-primary" routerLink="/projects">PROJECTS</button>
</div>

<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div>