@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.nav-settings {
    background-color: white;
    color: black;
}

nav ul li a {
    font-weight: 500;
}

.style-active-link{
    color: #007bff;
    font-weight: 600;
}

.div-outlet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 0;
    border-radius: 10px;
    justify-content: space-between;
}

@media (max-width:425px) {
    .footer {
        padding: 10px 15px 10px 15px;
    }
}
@media (min-width:426px) and (max-width:768px){
    .footer {
        padding: 10px 20px 0px 20px;
    }
}
@media (min-width:769px) {
    .footer {
        justify-content: space-around;
        padding: 10px 20px 0px 20px;
    }
}